{% extends 'base/base.html' %}
{% load static %}
{% block head_css_site %}
{{ block.super }}
{% endblock head_css_site %}
{% block content %}


<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
        <h1 class="h3 mb-0 text-gray-800">รายการหมายลอตเตอรี่</h1>
    </div>

    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-header mb-n4">
                    <div class="h5 font-weight-bold text-uppercase mb-1">เพิ่มหลายหมายเลข</div>
                </div>
                <div class="card-body">
                    <div class="row align-items-center text-center">
                        <div class="col mr-2">
                            <form id="formSendManyNumber" method="post" action="{% url 'addmanylotterypage' %}">
                                {% csrf_token %}
                                {% comment %} {% if user.account.admin %} {% endcomment %}
                                <label for="shopSelect">กรุณาเลือกร้านค้า</label>
                                <select class="form-control mb-3" id="shopAddManySelect" name="shopSelect"></select></br>
                                {% comment %} <label for="exampleFormControlSelect1" class="text-danger">*สำหรับ admin เท่านั้น</label></br> {% endcomment %}
                                {% comment %} {% endif %} {% endcomment %}
                                <textarea class="form-control w-50" id="numberList" name="numberList" rows="5"></textarea>
                                <input type="hidden" id="addManyNumber" name="number">
                                <input type="hidden" id="statusAdd" name="statusAdd" value="many"></br>
                                <button id="confirmAddManyNumber" class="btn btn-primary">เพิ่มหมายเลข</button>
                            </form>
                            <p id="errorAddNumber"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- DataTable -->
        <div class="col-lg-12">
            <form role="form" class="user" id="from-readNumber" method="post" action="{% url 'readNumberLottery' %}">
                {% csrf_token %}
                <input type="hidden" id="idNumber" name="idNumber">
                <input type="hidden" id="page" name="page">
            </form>
            <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"></div>
                <div class="table-responsive p-3">
                    <label for="shopSearchSelect">แสดงข้อมูลตามร้านค้า : </label>
                    <select class="form-control mb-3" id="shopSearchSelect" name="shopSearchSelect" onchange="onSelectSearch()"></select></br>
                    <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                        <thead class="thead-light">
                            <tr>
                                <th>เลขลอตเตอรี่</th>
                                <th>ร้านค้า</th>
                                <th>ผู้เพิ่มข้อมูล</th>
                                <th>การจัดการข้อมูล</th>
                            </tr>
                        </thead>
                        <tbody id="dataTableBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% include 'base/popupSuccess.html' %}
        {% include 'base/popupDelete.html' %}
        {% include 'base/popupAddDuplicate.html' %}
    </div>
</div>

{% endblock %}
{% block js %} 
{{ block.super }}

    <script src="{{ STATIC_URL }}vendor/datatables/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}vendor/datatables/dataTables.bootstrap4.js"></script>
    <script src="{{ STATIC_URL }}js/addMany/checkInput.js"></script>
    <script src="{{ STATIC_URL }}js/addMany/loadShopData.js"></script>
    <script src="{{ STATIC_URL }}js/addMany/loadAllNumber.js"></script>
    <script src="{{ STATIC_URL }}js/addMany/display.js"></script>
    
    {% comment %} {% if user.account.admin %} {% endcomment %}
    {% comment %} {% endif %} {% endcomment %}

  <!-- Page level custom scripts -->
  <script>
    const imgRead = "{{ STATIC_URL }}images/read.png"
    const imgUnRead = "{{ STATIC_URL }}images/unread.png"
    const url = 'api/numberLottery/list'
    const urlshop = 'api/shop/list'
    const pageName = "addlotterypage"
    const csrf_token = "{{csrf_token}}"
    const success = "{{ successAddNumber }}"
    const error = "{{ errorAddNumber }}"
    const numberList = "{{ numberList }}"
    const idShop = "{{ idShop }}"
    $(window).on('load', function() {
        if (success != "")
        {
            {% comment %} $('#addSuccessModal').modal('show') {% endcomment %}
        }
        if (error == "หมายเลขนี้มีอยู่แล้ว")
        {
            $('#duplicateModal').modal('show')
            const numberDuplicateText = document.querySelector("#numberDuplicateText")
            const numberDuplicate = document.querySelector("#numberDuplicate")
            const shopSelectDuplicate = document.querySelector("#shopSelectDuplicate")
            shopSelectDuplicate.value = idShop
            numberDuplicate.value = numberList
            numberDuplicateText.innerHTML = numberList
            confirm()
        }
        function confirm()
        {
            const formDuplicateNumber = document.querySelector("#formDuplicateNumber")
            const confirmDuplicateNumber = document.querySelector("#confirmDuplicateNumber")
            confirmDuplicateNumber.addEventListener('click', event => {
                formDuplicateNumber.submit()
            })
        }
        document.querySelector("#numberList").focus()
    })
  </script>
{% endblock %}