{% extends 'base/base.html' %}
{% load static %}
{% block title %}ร้านค้า{% endblock title %}
{% block head_css_site %}
{{ block.super }}
{% endblock head_css_site %}
{% block content %}
{% include 'base/popupAddShop.html' %}
<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
    <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
        <h1 class="h3 mb-0 text-gray-800">ผู้ใช้งานทั้งหมด</h1>
        <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#addNumberModal">
            <button type="button" class="btn btn-primary mb-1">เพิ่มผู้ใช้งาน</button>
        </a>
    </div>

    <div class="row mb-3">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table align-items-center table-flush mb-2">
                    <thead class="thead-light">
                    <tr>
                        <th>ชื่อจริง</th>
                        <th>ชื่อผู้ใช้งาน</th>
                        <th>รหัสผ่าน</th>
                        <th>สถานะ</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    {% include 'base/popupUserDelete.html' %}
    {% include 'base/popupAddUser.html' %}
    <div class="row">
        <div class="col-lg-12 mb-4" id="divCardData">
        </div>
    </div>
</div>
{% endblock %} 
{% block js %} 
{{ block.super }}
<script src="{{ STATIC_URL }}js/user/loadAllUser.js"></script>
<script src="{{ STATIC_URL }}js/user/display.js"></script>
<script type="text/javascript">
    const url = 'api/user/list'
    $(window).on('load', function() {
        const statusPostError= "{{ statusPostError }}"
        const successAddUser= "{{ successAddUser }}"
        const errorAddUser = "{{ errorAddUser }}"
        const successAddShop = "{{ successAddShop }}"
        const errorAddShop = "{{ errorAddShop }}"
        if (errorAddShop != "")
        {
            $('#ModalAddUser').modal('show')
        }
        if (successAddShop != "")
        {
            $('#addShopSuccessModal').modal('show')
        }
    })
</script>
{% endblock %}