{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Lottery Matching{% endblock title %}</title>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ STATIC_URL }}images/logo/logo.png" rel="icon">
    <link href="{{ STATIC_URL }}vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}vendor/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ STATIC_URL }}vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" type="text/css">
    
    <link href="{{ STATIC_URL }}css/ruang-admin.css" rel="stylesheet">

    {% block head_css %}
    {% block head_css_site %}

    {% endblock head_css_site %}
    {% block head_css_section %}{% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
    {% endblock head_css %}
</head>
<body id="page-top">
    <div id="wrapper">
        {% block main %}
            {% block sidebar %}{% include 'base/sidebar.html' %}{% endblock %}
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    {% comment %} {% block topbar %}{% include 'base/topBar.html' %}{% endblock %} {% endcomment %}
                    {% block content %}{% endblock %}
                    {% comment %} {% block footer %}{% include 'base/footer.html' %}{% endblock %} {% endcomment %}
                </div>
            </div>
            {% block js %}
            <!-- javascript -->
                <script src="{{ STATIC_URL }}vendor/jquery/jquery.min.js"></script>
                <script src="{{ STATIC_URL }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="{{ STATIC_URL }}vendor/jquery-easing/jquery.easing.min.js"></script>
                <script src="{{ STATIC_URL }}js/ruang-admin.js"></script>
            {% endblock %}
        {% endblock %}
        {% block popupLogout %}{% include 'base/popupLogout.html' %}{% endblock %}
    </div>

    <!-- Scroll to top -->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>
</body>
</html>