<div class="col-lg-12 mb-4">
    <!-- Simple Tables -->
    <div class="card">
        <div class="form-group align-items-right text-right p-3">
            <input type="text" class="form-control form-control-md mb-3" maxlength="6" id="searchNumber">
            <button onclick="onSearchNumber()" class="btn btn-primary text-sm-center">ค้นหา</button>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>เลขลอตเตอรี่</th>
                        <th>ร้านค้า</th>
                        <th>ผู้เพิ่มข้อมูล</th>
                        <th>สถานะ</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="dataTableHover_info" role="status" aria-live="polite"></div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="dataTableHover_paginate">
                        <ul class="pagination">
                            <li class="paginate_button page-item previous disabled" id="dataTableHover_previous">
                            </li>
                            <li class="paginate_button page-item next disabled" id="dataTableHover_next">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>