<!-- DataTable -->
<div class="col-lg-12">
    <form role="form" class="user" id="from-readNumber" method="post" action="{% url 'readNumberLottery' %}">
        {% csrf_token %}
        <input type="hidden" id="idNumber" name="idNumber">
        <input type="hidden" id="page" name="page">
    </form>
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"></div>
        <div class="table-responsive p-3">
            <table class="table align-items-center table-flush table-hover" id="dataTableHover">
                <thead class="thead-light">
                    <tr>
                        <th>เลขลอตเตอรี่</th>
                        <th>ร้านค้า</th>
                        <th>ผู้เพิ่มข้อมูล</th>
                        <th>สถานะ</th>
                        <th>การจัดการข้อมูล</th>
                    </tr>
                </thead>
                <tbody id="dataTableBody">
                </tbody>
            </table>
        </div>
    </div>
</div>