{% extends 'base/base.html' %}
{% load static %}
{% block head_css_site %}
{{ block.super }}
{% endblock head_css_site %}
{% block content %}


<!-- Container Fluid-->
<div class="container-fluid" id="container-wrapper">
  <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
    <h1 class="h3 mb-0 text-gray-800">หน้าหลัก</h1>
  </div>

  <div class="row mb-3">
    <!-- หมายเลขลอตเตอรี่ทั้งหมด -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header mb-n4">
          <div class="h5 font-weight-bold text-uppercase mb-1">หมายเลขลอตเตอรี่ทั้งหมด</div>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="h6 mb-0 font-weight-bold text-black">{{ lotteryCount }}</div>
            </div>
            <div class="col-auto">
              <img src="{{ STATIC_URL }}images/static.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- หมายเลขที่ตรงกัน -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header mb-n4">
          <div class="h5 font-weight-bold text-uppercase mb-1">หมายเลขที่ตรงกัน</div>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="h6 mb-0 font-weight-bold text-black">{{ matchNumberCount }}</div>
            </div>
            <div class="col-auto">
              <img src="{{ STATIC_URL }}images/bxs_data.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ร้านค้า -->
    <div class="col-xl-4 col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-header mb-n4">
          <div class="h5 font-weight-bold text-uppercase mb-1">ร้านค้า</div>
        </div>
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col mr-2">
              <div class="h6 mb-0 font-weight-bold text-black">{{ shopCount }}</div>
            </div>
            <div class="col-auto">
              <img src="{{ STATIC_URL }}images/shop.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between mt-3 mb-3">
      <h5 class="m-0 font-weight-bold text-primary">รายการหมายเลขลอตเตอรี่ที่ตรงกัน</h5>
    </div>
    {% include 'base/dataTable.html' %}
    {% include 'base/popupDelete.html' %}
  </div>
</div>

{% endblock %} 
{% block js %} 
{{ block.super }}
  <script id="scriptDatabase" src="{{ STATIC_URL }}vendor/datatables/jquery.dataTables.js"></script>
  <script src="{{ STATIC_URL }}vendor/datatables/dataTables.bootstrap4.js"></script>
  <script src="{{ STATIC_URL }}js/homepage/loadAllNumber.js"></script>
  <script src="{{ STATIC_URL }}js/homepage/display.js"></script>

  <!-- Page level custom scripts -->
  <script>
    const imgRead = "{{ STATIC_URL }}images/read.png"
    const imgUnRead = "{{ STATIC_URL }}images/unread.png"
    const url = 'api/numberLottery/listMatching'
    const pageName = "homepage"
  </script>
{% endblock %}