 <!-- Modal Delete -->
 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="modalLabelDelete" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDeleteNumber" method="post" action="{% url 'addlotterypage' %}">
                {% csrf_token %}
                <input type="hidden" id="statusAdd" name="statusAdd" value="delete">
                <input type="hidden" id="IDNumberDelete" name="IDNumberDelete">
                <input type="hidden" name="shopSelect" value="{{ idShop }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>คุณต้องการลบหมายเลข</p>
                    <h3 id="numberDelete"></h3>
                    <p>ออกจากระบบหรือไม่?</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">ยกเลิก</button>
                    <button id="confirmDeleteNumber" class="btn btn-primary">ตกลง</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!---Container Fluid-->