 <!-- Modal Duplicate -->
 <div class="modal fade" id="duplicateModal" tabindex="-1" role="dialog" aria-labelledby="modalNumberDuplicate" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDuplicateNumber" method="post" action="{% url 'addDuplicateNumber' %}">
                {% csrf_token %}
                <input type="hidden" id="shopSelectDuplicate" name="shopSelect">
                <input type="hidden" id="numberDuplicate" name="numberDuplicate">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3 id="numberDuplicateText"></h3>
                    <p>คุณต้องการนี้หมายเลขอีกครั้งหรือไม่</p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">ยกเลิก</button>
                    <button id="confirmDuplicateNumber" class="btn btn-primary">ตกลง</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!---Container Fluid-->