<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'homepage' %}">
        <div class="sidebar-brand-icon">
        <img src="{{ STATIC_URL }}images/logo/logo.png">
        </div>
        <div class="sidebar-brand-text mx-3">Lottery</div>
    </a>
    {% if user.account.admin %}
    {% comment %} <li class="nav-item mt-0 my-0">
        <a class="nav-link" href="">
        <i class="far fa-fw fa fa-list-ol"></i>
        <span>จับคู่ลอตเตอรี่</span>
        </a>
    </li> {% endcomment %}
    <li class="nav-item mt-0 my-0">
        <a class="nav-link" href="{% url 'addlotterypage' %}">
        <i class="far fa-fw fa fa-list-ol"></i>
        <span>เพิ่มข้อมูลลอตเตอรี่</span>
        </a>
    </li>
    {% comment %} <li class="nav-item">
        <a class="nav-link" href="{% url 'userpage' %}">
        <i class="fab fa fa-users"></i>
        <span>ผู้ใช้งาน</span>
        </a>
    </li> {% endcomment %}
    <li class="nav-item mt-0 my-0">
        <a class="nav-link" href="{% url 'shoppage' %}">
        <i class="fas fa-fw fa-shopping-cart"></i>
        <span>ร้านค้าทั้งหมด</span>
        </a>
    </li>
    <li class="nav-item mt-0 my-0">
        <a class="nav-link" href="{% url 'userpage' %}">
        <i class="fas fa-fw fa-user"></i>
        <span>ผู้ใช้งานทั้งหมด</span>
        </a>
    </li>
    <li class="nav-item mt-0 my-0">
        <a class="nav-link" href="{% url 'shopmatchingpage' %}">
        <i class="fas fa-fw fa fa-list"></i>
        <span>ร้านค้าที่มีเลขตรงกัน</span>
        </a>
    </li>
    
    {% else %}
    <li class="nav-item mt-0 my-0">
        <a class="nav-link" href="{% url 'addlotterypage' %}">
        <i class="far fa-fw fa fa-list-ol"></i>
        <span>เพิ่มข้อมูลลอตเตอรี่</span>
        </a>
    </li>
    {% endif %}
    
    <li class="nav-item mt-0 my-0">
        <a class="nav-link" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
        <i class="fas fa-fw fa-sign-out-alt"></i>
        <span>ออกจากระบบ</span>
        </a>
    </li>
</ul>
<!-- Sidebar -->