{% load custom_tags %}
<nav id="topNav" class="navbar navbar-expand-lg navbar-dark navbar-overlay navbar-inverse">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="{{ landingUrl }}">
            <img class="mw-auto h-auto" src="{{ STATIC_URL }}images/logo/logo.png" width="200">
        </a>
        <!-- Logo -->
        <!-- Mobile Toggle -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- End Mobile Toggle -->
    </div>
</nav>
